body {
  background-color: #fff;
  text-align: center;
}

p {
  margin: 0;
}

span {
  width: 5px;
  margin: 0;
}

form {
  text-align: left;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.empty {
  color: #fff;
}

#spawn {
  margin-bottom: 20px;
}
